<!-- Section heading -->
<h2 class="h1-responsive font-weight-bold my-5">Our best project is here</h2>
<!-- Section description -->
<p class="grey-text w-responsive mx-auto mb-5">New project here</p>

<!-- Grid row -->
<div class="row text-center">

  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
    <!--Featured image-->
    <div class="view overlay rounded z-depth-1">
      <img src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" class="img-fluid" alt="Sample project image">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Excerpt-->
    <div class="card-body pb-0">
      <h4 class="font-weight-bold my-3">Title of the news article</h4>
      <p class="grey-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
        eveniet ut et voluptates repudiandae.
      </p>
      <a class="btn btn-indigo btn-sm"><i class="fas fa-clone left"></i> View project</a>
    </div>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
    <!--Featured image-->
    <div class="view overlay rounded z-depth-1">
      <img src="https://mdbootstrap.com/img/Photos/Others/project4.jpg" class="img-fluid" alt="Sample project image">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Excerpt-->
    <div class="card-body pb-0">
      <h4 class="font-weight-bold my-3">Title of the news article</h4>
      <p class="grey-text">I am done now.....CI/CD done.
      </p>
      <a class="btn btn-indigo btn-sm"><i class="fas fa-clone left"></i> View project</a>
    </div>
  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6">
    <!--Featured image-->
    <div class="view overlay rounded z-depth-1">
      <img src="https://mdbootstrap.com/img/Photos/Others/images/88.jpg" class="img-fluid" alt="Sample project image">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--Excerpt-->
    <div class="card-body pb-0">
      <h4 class="font-weight-bold my-3">Title of the news article</h4>
      <p class="grey-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
        eveniet ut et voluptates repudiandae.
      </p>
      <a class="btn btn-indigo btn-sm"><i class="fas fa-clone left"></i> View project</a>
    </div>
  </div>
  <!-- Grid column -->